@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Inter-Thin */
@font-face {
  font-family: 'Inter'; 
  src: local('font'), local('font'), url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}
.def-table tr td, th {
  border: 1px solid #9A9897;
  padding: .3rem;
}

.app-aside {
  /* color: #1a202c; */
  @apply xs:min-w-64 sm:min-w-[22rem] md:min-w-64 lg:min-w-[19rem] w-[25vw] min-h-screen max-h-screen overflow-y-scroll overflow-x-hidden;
}
.loader {
  background-image: linear-gradient(to right, rgba(129, 66, 38, 0), rgb(229 211 204))
}
.app-aside-icons {
  @apply min-w-[3.2rem] min-h-screen max-h-screen overflow-y-auto overflow-x-hidden;
}
.app-container {
  /* @apply min-w-[65vw] w-full md:ml-16 lg:ml-28 min-h-screen; */
  @apply w-full md:ml-16 lg:ml-12 min-h-screen;
}
.app-container-icons {
  @apply min-w-64 w-full xs:ml-3 sm:ml-12 md:ml-16 lg:ml-28 min-h-screen;
}
.backdrop-blur-sm {
  -webkit-backdrop-filter: saturate(180%) blur(4px);

}

/* This is for blur navbar bg */
/* box-shadow: inset 0 -1px 0 0 var(--accents-2);
transform: translateZ(0);
backdrop-filter: saturate(180%) blur(5px);
background: hsla(0, 0%, 100%, .8); */
/* 
primary: #814226,
green: "#2B372A",
white: "#FAF9F9",
grey: "#9A9897",
yellow: "#EAD42D",
"text-sub": "#1A202C"
*/