@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Inter-Thin */
@font-face {
  font-family: 'Inter'; 
  src: local('font'), local('font'), url('/fcis-evoting-system/assets/fonts/Inter-Thin.ttf') format('truetype');
}
.def-table tr td, th {
  border: 1px solid #9A9897;
  padding: .3rem;
}

.app-aside {
  /* color: #1a202c; */
  @apply min-w-[320px] min-h-screen max-h-screen overflow-y-scroll;
}
.app-aside-icons {
  @apply min-w-3 min-h-screen max-h-screen overflow-y-auto;
}
.app-container {
  @apply min-w-[320px] w-full ml-auto max-w-[67%] min-h-screen;
}
.app-container-icons {
  @apply min-w-[320px] w-full px-32 max-w-full min-h-screen;
}

/* 
primary: #814226,
green: "#2B372A",
white: "#FAF9F9",
grey: "#9A9897",
yellow: "#EAD42D",
"text-sub": "#1A202C"
*/